/* sensible defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 0.5rem;
}

.header,
#headerRoot {
  width: 100%;
  background-color: black;
  color: white;
  height: 3rem;
}

#routerRoot {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  flex-grow: 1;
}

.buttons {
  padding: 0.5em 1em;
  border-radius: 2em;
  border: none;
}

.interactive {
  pointer-events: auto;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1);
}
.interactive:hover {
  transform: scale(1.1);
}
.interactive:active {
  transform: scale(0.9);
}

/* from old css */
.column-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}
